@{
    ViewData["Title"] = "Orders";
}

<h3>Welcome, @ViewBag.userName</h3>

<h4>Your booked flights</h4>

<kendo-grid name="grid">
    <datasource>
        <transport>
            <read url="/Orders/ReadData" />
            <create url="/Orders/Create" type="POST" />
            <update url="/Orders/Edit" type="POST" />
            <destroy url="/Orders/Delete" type="POST" />
        </transport>
        <schema data="data" total="total">
            <model id="Id">
                <fields>
                    <field name="From" type="string"></field>
                    <field name="To" type="string"></field>
                    <field name="Date" type="string"></field>
                    <field name="Time" type="string" editable="false"></field>
                    <field name="Price" type="string" @*editable="false"*@></field>
                </fields>
            </model>
        </schema>
    </datasource>
    <editable mode="inline" />
    <toolbar>
        <toolbar-button name="create" text="Book new flight"></toolbar-button>
    </toolbar>
    <columns>
        <column field="From" title="From" editor="fromEditor" />
        <column field="To" title="To" editor="toEditor" />
        <column field="Date" title="Flight date" editor="flightDateEditor" />
        <column field="Time" title="Flight time" />
        <column field="Price" title="Ticket price" />
        <column>
            <commands>
                <column-command text="Edit" name="edit"></column-command>
                <column-command text="Delete" name="destroy"></column-command>
            </commands>
        </column>
    </columns>
</kendo-grid>

<script>
        function fromEditor(container, options) {
            var grid = $('#grid').data('kendoGrid');
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataSource: {
                        data: grid.dataSource.data().map(function (x) {
                            return x.From;
                        })
                    }
                });
        }

        function toEditor(container, options) {
            var grid = $('#grid').data('kendoGrid');
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataSource: {
                        data: grid.dataSource.data().map(function (x) {
                            return x.To;
                        })
                    }
                });
    }

    function flightDateEditor(container, options) {
        var grid = $('#grid').data('kendoGrid');
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                dataSource: {
                    data: grid.dataSource.data().map(function (x) {
                        return x.Date;
                    })
                }
            });
    }
</script>