@{
    ViewData["Title"] = "Orders";
}

<h3>@ViewBag.userMessage</h3>

<h4>Your booked flights</h4>

<kendo-grid name="grid">
    <datasource>
        <transport>
            <read url="/Orders/ReadData" />
            <create url="/Orders/Create" type="POST" />
            <update url="/Orders/Edit" type="POST" />
            <destroy url="/Orders/Delete" type="POST" />
        </transport>
        <schema data="data" total="total">
            <model id="routeId">
                <fields>
                    <field name="routeFrom" type="string"></field>
                    <field name="routeWhere" type="string"></field>
                    <field name="routeDate" type="string"></field>
                    <field name="routeTime" type="string" editable="false"></field>
                    <field name="routePrice" type="string" editable="false"></field>
                </fields>
            </model>
        </schema>
    </datasource>
    <editable mode="inline" />
    <toolbar>
        <toolbar-button name="create" text="Book new flight"></toolbar-button>
    </toolbar>
    <columns>
        <column field="routeFrom" title="From" editor="fromEditor" />
        <column field="routeWhere" title="To" editor="toEditor" />
        <column field="routeDate" title="Flight date" editor="flightDateEditor" />
        <column field="routeTime" title="Flight time" />
        <column field="routePrice" title="Ticket price, $" />
        <column>
            <commands>
                <column-command text="Edit" name="edit"></column-command>
                <column-command text="Delete" name="destroy"></column-command>
            </commands>
        </column>
    </columns>
</kendo-grid>

<script>
    var dataSource1 = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/Orders/ReadAllData"
            }
        },
        schema: {
            data:  "data",
            total: "total",
            model: {
                fields: {
                    routeFrom: {
                        type: "string"
                    },
                    routeWhere: {
                        type: "string"
                    },
                    routeDate: {
                        type: "string"
                    },
                    routeTime: {
                        type: "string"
                    },
                    routePrice: {
                        type: "string"
                    }
                }
            }
        }
    });
    dataSource1.read();
        function fromEditor(container, options) {
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataSource: {
                        data: dataSource1.data().map(function (x) {
                            return x.routeFrom;
                        })
                    }
                });
    }

        function toEditor(container, options) {
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataSource: {
                        data: dataSource1.data().map(function (x) {
                            return x.routeWhere;
                        })
                    }
                });
    }

    function flightDateEditor(container, options) {
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                dataSource: {
                    data: dataSource1.data().map(function (x) {
                        return x.routeDate;
                    })
                }
            });
    }
</script>